@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.background{
	background: url(../img/plaza2.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale')";
  	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale')";
 }
/*body{
 	background: url(../img/sayagata.png);
 } 
 OPTIONAL OTHER BACKGROUND
 */

.titleHeader{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-color: hsla(82, 54%, 64%, 0.86);
}

/* region menu */

.menuBar{
	background-color: hsla(82,54%,64%,0.86);
	padding: 1em;
	position: relative;
	margin-top: -33px;
	margin-bottom: 1em;
}

#menu{
	justify-content: flex-start;
	margin-bottom: 0;
	width: 100%;
	background: initial;
	border: initial;
}

#menu li{
	list-style: none;
	display: inline;
	background-color: hsla(82, 54%, 50%, 0.86);
	color: white;
	padding: 1em;
	margin: auto 1px 0 1px;
	cursor: pointer;
}

#menu li:hover{
	background-color: hsla(82, 54%, 64%, 0.86);
}

#menu .active{
	background-color: hsla(82, 54%, 64%, 0.86);
}

/* endregion menu */

.formBody{
	background: hsla(82, 54%, 64%, 0.86);
	padding: 2em;
	margin-bottom: 1em;
}

/*all hidden by default except the one which will be displayed first*/
.formBody:not(#divPlanTrip) {
	display: none;
}

#divMap {
	height: 600px;
	margin-bottom: 1em;
	padding: 0 0 0 0;
}

#busArrows{
	color: grey;
	vertical-align: 0;
}

/* region trips */

.divTripDirectionsPanel {
	background-color: whitesmoke;
	margin: 0 14px 14px 14px;
}

.btn-bus {
	padding: 6px 3px 6px 3px !important;
}

#btnFavTrip>i {
	margin: auto;
}

.routeRow {
	height: 60px;
	background-color: white;
	border-radius: 10px;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

.routeRow:hover{
	background-color: lightgray;
}

.routeRow.selected{
	background-color: hsla(202, 37%, 47%, 0.86);
}

/* endregion trips */

/* region stops */

#divStopsSegment {
	padding: 0;
	border: 0;
}

#stopList{
	text-align: left;
}

#stopList li{
	list-style: none;
}

#stopList input{
	margin: .2em;
}

/* endregion stops */

/* region faves */

#divFavorites {
	overflow:scroll;
	overflow-x: hidden;
}

#faves{
	margin-top:10px;
	background-color: white;
	border-radius: 5px;
	min-width:604px;
}

.ui.icon.button.btnFave{
	display:inline-block;
	background-color: cornflowerblue;
	position:absolute;
	right:10px;
	top:7px;
}

tr.favesRow{
	display: inline-block;
	height: 50px;
	width: 100%;
	border-radius: 10px;
	padding-top:8px;
	padding-bottom:8px;
	position:relative;
}

.favName{
	display: inline-block;
	margin-left:30px;
	width: 300px;
}

.faveTd{
	display: inline-block;
	margin-left:30px;
}

tr.favesRow:hover{
	background-color: #f8f5f5;
}

.divButtonHolder {
	position:relative;
	
}

#addFavBtn{
	display:inline-block;
	margin-left: 5px;
}

.faveMessage {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	padding: 5px;
}

/* endregion faves */

/* region forms and validation */

.ui.form>.destination{
	margin-right: 15em;
}

#timeType{
	height: 43px;
}

.invalid{
	color: red;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
}

.error.message ul {
	list-style: square outside;
}

/* endregion forms and validation */